<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Learning Platform</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses/style.css' %}">
</head>

<body>
    <nav>
        <div
            style="max-width: 800px; margin: 0 auto; padding: 0 20px; display: flex; justify-content: space-between; align-items: center;">
            <div>
                <strong style="margin-right: 20px; font-size: 1.2rem;">LMS Platform</strong>
                <a href="{% url 'course_list' %}">Courses</a>
            </div>

            <div>
                {% if user.is_authenticated %}
                <span style="margin-right: 15px;">Hello, {{ user.username }}</span>
                <a href="{% url 'create_course' %}" style="margin-right: 15px; color: #f1c40f;">Teach</a>

                <form action="{% url 'account_logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit"
                        style="background: none; border: none; color: #ecf0f1; cursor: pointer; font-size: 1rem;">Logout</button>
                    <a href="{% url 'profile' %}"
                        style="margin-right: 15px; text-decoration: none; color: white; display: inline-flex; align-items: center;">
                        {% if user.profile.profile_pic %}
                        <img src="{{ user.profile.profile_pic.url }}"
                            style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; border: 2px solid white; margin-right: 5px;">
                        {% else %}
                        <span style="font-size: 1.2rem; margin-right: 5px;">👤</span>
                        {% endif %}
                        Profile
                    </a>
                </form>
                {% else %}
                <a href="{% url 'account_login' %}">Login</a>
                <a href="{% url 'account_signup' %}"
                    style="background: #3498db; padding: 5px 10px; border-radius: 4px;">Sign
                    Up</a>
                {% endif %}
            </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>